<div class="parallax-container">

  <%= render "layouts/navbar" %>

  <div class="parallax">
    <h3 class="home-heading"><span class="heading-tags"><</span> Food-4-Thought<span class="heading-tags">/></span></h3>
  </div>
</div>

<div class="section white">
  <div class="row container">
    <p class="grey-text text-darken-3 lighten-3">Looking for something to read? Here's a list of articles that I've stumbled upon that have influenced me one way or another.</p>
  </div>

  <div class="row container">
	  <% @articles.each do |article| %>
	  	<a target="_blank" href="<%= article.source %>"><h5 class="article-title"><%= article.title %></h5></a>
	  	<p><%= article.author %> -- <%= article.date %></p>
	  <% end %>
  </div>
</div>